<div class="waiting">
    <div class="waiting__content">
            <div class="waiting__request-div"></div>
            <div class="waiting__sorting-div"></div>
        <div class="waiting__items-div">
            <div class="waiting__item-div">
                <div class="waiting__item-img-div"></div>
                <div class="waiting__item-info-div"></div>
            </div>
            <div class="waiting__item-div">
                <div class="waiting__item-img-div"></div>
                <div class="waiting__item-info-div"></div>
            </div>
            <div class="waiting__item-div">
                <div class="waiting__item-img-div"></div>
                <div class="waiting__item-info-div"></div>
            </div>
            <div class="waiting__item-div">
                <div class="waiting__item-img-div"></div>
                <div class="waiting__item-info-div"></div>
            </div>
        </div>
    </div>
</div>