<div class="main-page">
    <div class="main-page__content">
        <div class="main-page__banner-div">
            <img src="https://fscl01.fonpit.de/userfiles/7695213/image/Smartphones-unter-200-Euro.jpg" alt=""
                 class="main-page__banner-img">
        </div>
    </div>
</div>